@*ORDERS*@

<br />
<div class="row">
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Products" style="text-align:center; color:black; font-size:large">Products</a>
    </div>
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Users" style="text-align:center; color:black; font-size:large;">Users</a>
    </div> 
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Orders" style="text-align:center; color:black; font-size:larger; font-weight:bold">Orders</a>
    </div>
</div>
<br /><br />
<h3 style="text-align:center">Potentially Fraudulent Orders</h3>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Transaction ID</td>
                <td>Customer ID</td>
                <td>Date</td>
                <td>Day of Week</td>
                <td>Time</td>
                <td>Entry Mode</td>
                <td>Amount</td>
                <td>Transaction Type</td>
                <td>Country</td>
                <td>Shipping Address</td>
                <td>Bank</td>
                <td>Type of Card</td>
                <td>Accept</td>
                <td>Deny</td>
            </tr>

        </thead>

@*         @foreach (var x in Model)
        {
            <tbody>
                <tr>
                    CHANGE THESE TO CORRECT VARs
                    <td>@x.transaction_ID</td>
                    <td>@x.customer_ID</td>
                    <td>@x.Date</td>
                    <td>@x.day_of_week</td>
                    <td>@x.time</td>
                    <td>@x.entry_mode</td>
                    <td>@x.amount</td>
                    <td>@x.type_of_transaction</td>
                    <td>@x.country_of_transaction</td>
                    <td>@x.shipping_ddress</td>
                    <td>@x.bank</td>
                    <td>@x.type_of_card</td>

                    ADD ICONS
                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.transaction_ID">Accept</a></td>
                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.transaction_ID">Deny</a></td> ADD A DELETE CONFIRMATION PAGE/WINDOW
                </tr>
            </tbody>
        } *@

    </table>

    <br /><br />
    <h3 style="text-align:center">Processed Orders</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Transaction ID</td>
                <td>Customer ID</td>
                <td>Date</td>
                <td>Day of Week</td>
                <td>Time</td>
                <td>Entry Mode</td>
                <td>Amount</td>
                <td>Transaction Type</td>
                <td>Country</td>
                <td>Shipping Address</td>
                <td>Bank</td>
                <td>Type of Card</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>

        </thead>

@*         @foreach (var x in Model)
        {
            <tbody>
                <tr>
                    CHANGE THESE TO CORRECT VARs
                    <td>@x.transaction_ID</td>
                    <td>@x.customer_ID</td>
                    <td>@x.Date</td>
                    <td>@x.day_of_week</td>
                    <td>@x.time</td>
                    <td>@x.entry_mode</td>
                    <td>@x.amount</td>
                    <td>@x.type_of_transaction</td>
                    <td>@x.country_of_transaction</td>
                    <td>@x.shipping_ddress</td>
                    <td>@x.bank</td>
                    <td>@x.type_of_card</td>

                    ADD ICONS
                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.transaction_ID">Edit</a></td>
                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.transaction_ID">Delete</a></td> @DD A DELETE CONFIRMATION PAGE/WINDOW
                </tr>
            </tbody>
        } *@

    </table>
</div>