@model IEnumerable<Intex2.Models.ViewModels.OrderPredictionViewModel>

<style>
    .container-admin-orders {
        width: 90%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .table-container {
         display: flex;
         justify-content: space-between;
    }

/*         .table-container .table {
            width: 48%;
        } */
</style>

@{
    var classTypeDict = new Dictionary<int, string>
    {
        { 0, "Not Fraud" },
        { 1, "Fraud" }
    };

    var fraudulentOrders = Model.Where(x => x.Orders.Fraud == 1);
    var nonFraudulentOrders = Model.Where(x => x.Orders.Fraud == 0);
}

<br />
<div class="row container-admin-orders">
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Products" style="text-align:center; color:black; font-size:large">Products</a>
    </div>
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Users" style="text-align:center; color:black; font-size:large;">Users</a>
    </div>
    <div class="col-4" style="text-align:center">
        <a asp-area="" asp-controller="Home" asp-action="Admin_Orders" style="text-align:center; color:black; font-size:larger; font-weight:bold">Orders</a>
    </div>
</div>
<br />
<br />

<div class="row table-container">
    <div class="col-6">
        <h3 style="text-align:center">Potentially Fraudulent Orders</h3>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr style="font-weight:600; text-align:center">
                        <td>Day of Week</td>
                        <td>Time</td>
                        <td>Amount</td>
                        <td>Country</td>
                        <td>Bank</td>
                        <td>Type of Card</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in fraudulentOrders)
                    {
                        <tr>
                            <td>@x.Orders.DayOfWeek</td>
                            <td>@x.Orders.Time</td>
                            <td>@x.Orders.Amount</td>
                            <td>@x.Orders.CountryOfTransaction</td>
                            <td>@x.Orders.Bank</td>
                            <td>@x.Orders.TypeOfCard</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6">
        <h3 style="text-align:center">Non-Fraudulent Orders</h3>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr style="font-weight:600; text-align:center">
                        <td>Day of Week</td>
                        <td>Time</td>
                        <td>Amount</td>
                        <td>Country</td>
                        <td>Bank</td>
                        <td>Type of Card</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in nonFraudulentOrders)
                    {
                        <tr>
                            <td>@x.Orders.DayOfWeek</td>
                            <td>@x.Orders.Time</td>
                            <td>@x.Orders.Amount</td>
                            <td>@x.Orders.CountryOfTransaction</td>
                            <td>@x.Orders.Bank</td>
                            <td>@x.Orders.TypeOfCard</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
